body{
    background-color:black;
}
h1{
    text-align:center;
    font-family:Arial bold;
    text-shadow: 3px 0 blue;
    font-size:8rem;
    color:red;

}
h2{
    text-align:center;
    font-family:densmore;
    text-shadow: 3px 0 red;
    font-size:5rem;
    color:blue;
    
}
.set{
    color:white;
    text-align:center;
    font-size:2rem;
    
}
p{
    color:brown;
}
h7{
    color:yellow;
    font-family:bold;
    font-size:3rem;
    text-align:center;
}
footer{
    text-align:center;
    font-size:1.5rem;
    color:brown;
    font-family:bold;
    margin-top :5%;
    left:0;
    bottom:0;
    
    width:100%;

}
.navbar{
    padding-bottom:4.5rem;
    text-align:center;
}
.navbar-brand{
    font-family:"Arial Bold";
    font-size:2.5rem;
    width:bold;
    color:#fff;
    text-align:center;
} 
.nav-item{
    
    text-align:center;
}
.nav-link{
    font-size:1.5rem;
    font-family:"Montserrat-light";
    color:#fff;
    text-align:center;
}
.download-button{
    margin:5% 3% 5% 0;
    text-align:center;
}
#pricing{
    padding:100px;
    text-align:center;
}
.price-text{
    font-size:3rem;
    line-height:1.5;
    text-align:center;
}
.pricing-column{
    padding:3% 2%;
    text-align:center;
}
.cta-heading{
    font-family:"Montserrat-Black";
    font-size:3.5rem;
    line-height:1.5;
    text-align:center;
}
#footer{
    padding:7% 15%;
}